# coding: utf-8

"""
    Instagram API

    The Instagram Private API in OpenAPI specs.v3.0  # noqa: E501

    OpenAPI spec version: 0.0.1
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from private_instagram_sdk.api_client import ApiClient
from private_instagram_sdk.exceptions import (
    ApiTypeError,
    ApiValueError
)


class AuthApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def accounts_login_post(self, user_agent, **kwargs):  # noqa: E501
        """Login user to Instagram  # noqa: E501

        Login to Instagram with username/password  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.accounts_login_post(user_agent, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_agent: the User-Agent used by the Instagram App (be carefull in generation of a new one)  (required)
        :param int ig_sig_key_version:
        :param str signed_body:
        :return: InlineResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.accounts_login_post_with_http_info(user_agent, **kwargs)  # noqa: E501
        else:
            (data) = self.accounts_login_post_with_http_info(user_agent, **kwargs)  # noqa: E501
            return data

    def accounts_login_post_with_http_info(self, user_agent, **kwargs):  # noqa: E501
        """Login user to Instagram  # noqa: E501

        Login to Instagram with username/password  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.accounts_login_post_with_http_info(user_agent, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str user_agent: the User-Agent used by the Instagram App (be carefull in generation of a new one)  (required)
        :param int ig_sig_key_version:
        :param str signed_body:
        :return: InlineResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['user_agent', 'ig_sig_key_version', 'signed_body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method accounts_login_post" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'user_agent' is set
        if ('user_agent' not in local_var_params or
                local_var_params['user_agent'] is None):
            raise ApiValueError("Missing the required parameter `user_agent` when calling `accounts_login_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'user_agent' in local_var_params:
            header_params['User-Agent'] = local_var_params['user_agent']  # noqa: E501

        form_params = []
        local_var_files = {}
        if 'ig_sig_key_version' in local_var_params:
            form_params.append(('ig_sig_key_version', local_var_params['ig_sig_key_version']))  # noqa: E501
        if 'signed_body' in local_var_params:
            form_params.append(('signed_body', local_var_params['signed_body']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/x-www-form-urlencoded'])  # noqa: E501

        # Authentication setting
        auth_settings = ['cookieAuth']  # noqa: E501

        return self.api_client.call_api(
            '/accounts/login', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse200',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)
